.postNote {
    margin-top: 1rem;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
    outline: none !important;
}

.postNote:focus {
    outline: none;
}

.postNote::-moz-focus-inner {
    border: 0;
}

.invert {
    filter: invert(100%);
}

.invert:hover {
    width: 25px;
    cursor: pointer;
}