* {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    /* font-family: Courier, monospace; */
}

body {
    background: #333 url('./image/background.png') repeat;
}

#paper {
    color: #FFF;
    font-size: 20px;
}

#text {
    position: relative;
    resize: none;
    width: 96%;
    height: 85%;
    font-size: 20px;
    word-wrap: break-word;
    /* padding: 40px 20px 40px 60px; */
    padding-top: 39px;
    padding-left: 60px;
    padding-bottom: 60px;
    background-image: url('./image/lines.jpg');
    background-size: 100% 46px;
    background-position: left center;
    line-height: 45px;
}